.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Header {
  height: 6%;
}

.logo {
  height: 55px;
  width: 55x; 
}

.bigLogo {
  padding-top: 8rem;
  padding-bottom: 3rem;
  width: 300px;
  height: 450px;
}

.map {
  padding-top: 8rem;
  padding-bottom: 3rem;
  width: 500px;
  height: 650px;
}

.hiddenButtonContainer {
  position: relative;
  width: 50%;
}

.hiddenButtonContainer .hiddenButton {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: transparent;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
}

.hiddenButtonKitisi {
  top: 35%;
  left: 140%;
}

.hiddenButtonKisilwa {
  top: 90%;
  left: 10%;
}

.villageTitle {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.galleryTitle {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.frontImage {
  margin-bottom: 3rem;
}

.image {
  margin-top: 1rem;
  margin-right: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 250px;
  max-width: 100%;
  height: auto;
}

.villageImage {
  justify-content: center;
}

.photoDescription {
  padding-top: 1rem;
  text-align: center;
}

.indietroButton {
  font-size: 18px;
}

.avantiButton {
  margin-left: 5px;
  font-size: 18px;
}
