@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Header {
  height: 6%;
}

.navbar {
  background-color: #18B637;
}

.dropdown {
  outline: none;
  box-shadow: none;
}

.homeText {
  padding-top: 5rem;
  text-align: center;
  font-style: italic;
}

.logo {
  height: 55px;
  width: 55x; 
}

.bigLogo {
  padding-top: 8rem;
  padding-bottom: 3rem;
  width: 300px;
  height: 450px;
}

.paragraph {
  padding-bottom: 3rem;
}

.map {
  padding-top: 100px;
  text-align: center;
}

.popover {
  background-color: #C4ED68;
}

.villageTitle {
  font-family: "URW Chancery L, cursive";
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.galleryTitle {
  text-align: center;
  padding-top: 7rem; 
}

.frontImage {
  margin-bottom: 3rem;
}

.frame {
  background-color: #F0F2DD;
  border-image: none;
  border-radius: 30px 30px 30px 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  width: 50%;
  position: relative;
  top: 10%;
  left: 25%
}

.differentFrame {
  margin-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .frame {
    background-color: #F0F2DD;
    border-image: none;
    border-radius: 30px 30px 30px 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    width: 70%;
    position: relative;
    top: 10%;
    left: 15%
  }
}

.multi-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.image {
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 30px 30px 30px 30px;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.gallery {
  background-color: black;
  min-height: 100vh;
  height: 100%;
}

.galleryButton {
  position: absolute;
  top: 4rem;
  left: 2rem;
}

.villageImage {
  justify-content: center;
}

.villageDescription {
  text-align: start;
}

.photoDescription {
  margin-left: 1rem;
  text-align: start;
}

.indietroButton {
  font-size: 18px;
}

.avantiButton {
  margin-left: 5px;
  font-size: 18px;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .swiper-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
